#menu{
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#welcome-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#enter-button, #start-button,#start-food,#order-food,#end-button,#start-over{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#menu:hover{
    height: 500px;
}


.nights{
    display: block;
    
}